@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

:root{
    --sidWidth: 300px;
    --leftSideWidth: 60px;
    --sidesColor: #fff7eb;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    overflow: hidden;
}
ul, #proList {
    list-style-type: none;
}

#proList {
    margin: 0;
    padding: 0;
}

.caret {
    /* cursor: pointer; */
    user-select: none;
}

.caret::before {
    content: "-";
    display: inline-block;
    margin-right: 6px;
    font-size: 10px;
    color: #ff4374;
}
.trees::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 6px;
    font-size: 10px;
    color: #ff4374;
    cursor: pointer;
    transform: rotate(90deg);

}

div#mainBody{
    width: 100vw;
    height: 100vh;
    display: flex;
}
div#leftSide{
    width: var(--leftSideWidth);
    height: 100vh;
    background-color: #282a3d;
    position: relative;
    z-index: 9999;
}
div#rightSide{
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
    position: relative;
}

div#conves{
    width: 100%;
    height: 100%;
    background-color: cadetblue;
}

div#rightSide .left{
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
    position: relative;
}





div#rightSide .right,
div#rightSide .left{
    background-color: var(--sidesColor);
    height: 100vh;
    min-width: var(--sidWidth);
    width: auto;
    position: absolute;
    overflow: auto;
    transition: 0.2s;
}

div#rightSide .left{
    /* left: -500px; */
}
div#rightSide .right{
    right: -500px;
}


div#rightSide .left.opened{
    left: 0px;
}
div#rightSide .right.opened{
    right: 0px;
}



#proList > li ul{
    padding: 0 0 0 20px;
}
#proList ul{
    border-left: 1px solid #d5d5d5;
}
#leftSide > button{
    width: 90%;
    padding:  0px;
    margin: 5px auto;
    display: block;
    cursor: pointer;
    background: #ff4374;
    border: 0;
}

#proList button{
    background: #fcd8e1;
    font-size: 13px;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    border: 0;
}

#proList ul.trees > li{
    padding-left: 10px;
}
#proList > li > ul > li > strong{
    color: #2bb742;
}
#proList .trees.closed > li{
    display: none;
}
#proList .trees.closed::before{
    transform: rotate(0deg);
}
